@import "impress";

.git {
	font-family: $font;
	p {
		font-size: 36pt;
		line-height: 1.2em;
	}
	.slide {
		padding: 0;
		width: 800px;
		height: 600px;
	}
	.center,.middle {
		display: table-cell;
		width: 100%;
		height: 100%
	}
	.center {
		text-align: center;
	}
	.middle {
		vertical-align: middle;
	}
	h1 {
		color: $accentcol;
		font-size: 200px;
	}
	h2 {
		color: black;
		border-bottom: 1px black solid;
	}
}
