@import "compass";

body {
	@include background(linear-gradient(#eee, #aaa), #aaa) ;
	background-repeat: no-repeat;
	min-height: 450px;
}

.step {
	position: relative;
	width: 900px;
	padding: 40px;
	margin: 20px auto;
	@include box-sizing(border-box);
	font-size: 48px;
	line-height: 1.5em;
}

.slide {
	display: block;
	
	width: 900px;
	height: 700px;
	padding: 40px 60px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	color: rgb(102,102,102);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -1px;
}

.tmux .step {
	width:300px;
}

.tmux .slide {
	width: 300px;
	padding: 32px;
}