@import "compass";

$fweight: 700;
$bweight: 900;
$font: 'Source Sans Pro', Arial, sans-serif;
$monofont: 'Consolas', monospace;
$accentcol: darken(#e15, 2%);

body {
	@include background(linear-gradient(#eee, #aaa), #aaa) ;
	background-repeat: no-repeat;
	min-height: 450px;
}

@mixin common-step($opacity) {
	@include box-sizing(border-box);
	position: relative;
	width: 900px;
	padding: 40px;
	font-size: 48px;
	line-height: 1.5em;
	
	opacity: $opacity;
	@include transition(opacity 1s);
}

.step {
	@include common_step(0.3);
}

.hidden {
	opacity: 0.0;
}
.full {
	opacity: 1.0;
}

.slide {
	display: table;
	
	width: 900px;
	height: 700px;
	padding: 40px 60px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
	color: rgb(102,102,102);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -1px;
}

.slide p {
	padding-bottom: 1em;
}

.step.active{ 
	opacity: 1; 
}

a, a:visited {
	color: #16e;
}

h2 {
	color: black;
	font-style: normal;
}
