extends layouts/impress

block append head
  link(rel='stylesheet',type='text/css',href='css/git.css')

block append content
  .fallback-message
  #impress.git
    .step.slide(data-x='-1000',data-y='-1500')
      .center.middle
        h1 <strong>GIT</strong>
        p Coding/Version Control Lab
    .step.slide(data-x='0',data-y='-1500')
      .center.middle
        h2 Tools you may want to use
        ul
          li 
            a(href="http://windows.github.com/") Github for Windows
            | /
            a(href="http://mac.github.com/") Mac
            |  &mdash; Easiest to use
          li 
            a(href="http://git-scm.com/") Git
            |  &mdash; Commandline
          li
            a IDE Plugins (Visual Studio, Eclipse/Netbeans, etc.)
          div(jmpress-data="fade")
            p Alternatively &hellip;
            li Mercurial (prominently used by Java/Python folks)
            li Gitk, gitcola &mdash; Useful revision graphs
    .step.slide(data-x='1000',data-y='-1500')
      .center.middle
        h2 Material you may want to peruse into
        ul
          li 
            a(href="http://betterexplained.com/articles/intro-to-distributed-version-control-illustrated/") Illustrated DVCS
          li
            a(href="http://git-scm.com/documentation") Git Docs
          li
            a(href="http://ndpsoftware.com/git-cheatsheet.html") Visual Git Cheatsheet
    .step.slide(data-x='2000',data-y='-1500')
      .center.middle
        h2 Presentation Material
        p On sliderocket:
        ul
          li 
            a(href="") Git 101
          li 
            a(href="") DVCS
    .step.slide(data-x='3000',data-y='-1500')
      .center.middle
        h2 Example projects to get from <strong>github.com</strong>
        ul
          li 
            a(href="#notyet") This presentation, at github.com/spoike
          li 
            a(href="https://github.com/mattdiamond/fuckitjs/") fuckit.js
