extends layouts/impress

block append head
  link(rel='stylesheet',type='text/css',href='css/git.css')

block append content
  .fallback-message
  #impress.git
    .step.slide(data-x='-1000',data-y='-1500')
      .center.middle
        h1 <strong>GIT</strong>
        p Coding/Version Control Lab
    .step.slide(data-x='0',data-y='-1500')
      .center.middle
        h2 Tools
        p Github for Windows/Mac &mdash; Easiest
        p Git &mdash; Commandline Toolbox
        p Alternatively use Mercurial (prominently used by Java/Python folks)
        p Gitk, gitcola &mdash; Useful revision graphs
    .step.slide(data-x='1000',data-y='-1500')
      .center.middle
        h2 Material you may want to peruse into
        p Illustrated DVCS
        p Git Book
    .step.slide(data-x='2000',data-y='-1500')
      .center.middle
        h2 Presentation Material
        p On sliderocket:
        p Git 101
        p DVCS
    .step.slide(data-x='3000',data-y='-1500')
      .center.middle
        h2 Example projects to get from <strong>github.com</strong>
        p This presentation
        p fuckit.js
