extends layouts/layout

block append content
  h1 OPKOKO 2012 Nässjö
  h2 Föreläsningar
  p Här finns de föreläsningar som Mikael höll under OPKOKO 2012 i Nässjö:
  ul
    li 
      a(href='git.html') Gitting with Github &mdash; Workshop
    li 
      a(href='tmux.html') TMUX för Nyfikna &mdash; Blixtföreläsning (10 min)
    li 
      a(href='weinre.html') Inspect THIS! (Web Inspector Remote) &mdash; Blixtföreläsning (10 min)
    li 
      a(href='pp.html') The Sassy World of Preprocessors &mdash; Föreläsning (45 min)