extends layouts/impress

block append head
  link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900')
  link(rel='stylesheet',type='text/css',href='css/tmux.css')

block append content
  div.fallback-message
  div#impress.tmux
    #bored.step.slide(data-x='-350',data-y='-1500')
      h1
        | tmux
        .sub för nyfikna
    div.step.slide(data-x='0', data-y='-1500')
      p Each command in tmux starts with this
      p
        kbd ctrl
        |  + 
        kbd b
