extends layouts/impress

block append head
  link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900,700italic')
  link(rel='stylesheet',type='text/css',href='css/tmux.css')

block append content
  div.fallback-message
  div#impress.tmux
    .step.slide(data-x='-700',data-y='-1500')
      .center
        h1
          | tmux
          .sub för nyfikna
    .step.slide(data-x='-350',data-y='-1500')
      p.center Anyone here have used GNU <code>screen</code>?
    .step.slide(data-x='0',data-y='-1500')
      .center
        p tmux = <br/>
        <strong>T</strong>erminal <strong>Mu</strong>ltiple<strong>x</strong>er
    .step.slide(data-x='-700',data-y='-750')
      .center
        img(src='../src/images/overview.png')
    .step.slide(data-x='-350',data-y='-750')
      .center
        h2 How to install
        p Use your favorite <strong>package manager</strong>
        p.sub The package should be there under "<code>tmux</code>"
    .step.slide(data-x='0',data-y='-750')
      .center
        h2 How to start
        p.term &gt; tmux <br />&nbsp;
        p Starts a new session, with one window and one pane
    .step.slide(data-x='-700',data-y='0')
      .center
        p Each command in tmux <strong>starts</strong> with this
        p
          kbd ctrl
          |  + 
          kbd b
        p followed by another key
    .step.slide(data-x='-350',data-y='0')
      .center
        p For example like this:
        p
          kbd ctrl
          |  + 
          kbd b
          |  , 
          kbd ?
        p 
          | which shows the 
          em list of commands (cheatsheet)
    .step.slide(data-x='-700',data-y='750')
      .center
        h2.section Panes
        p(style='text-align:center;width:100%')
          img(src='../src/images/panes.png')
    .step.slide(data-x='-350',data-y='750')
      .center
        h2 <strong>Split</strong> panes
        p Creates new panes by splitting horizontally or vertically
        p
          kbd ctrl
          |  + 
          kbd b
          |  , 
          kbd %
        p
          kbd ctrl
          |  + 
          kbd b
          |  , 
          kbd "
    .step.slide(data-x='0',data-y='750')
      .center 
        h2 <strong>Switch</strong> panes
        p
          kbd ctrl
          |  + 
          kbd b
          |  , arrow keys
        p.sub Repeat with arrow keys for ultimate <strong>focus</strong> combo
    .step.slide(data-x='350',data-y='750')
      .center
        h2 <strong>Resize</strong> panes
        p.sub Place thy focus on the pane that you want resized, followed by the following incantation
        p
          kbd ctrl
          |  + 
          kbd b
          |  , 
          kbd alt
          |  + arrow keys
        p.sub Also repeat for ultimate <strong>resize</strong> combo
        
