extends layouts/impress

block append head
  link(rel='stylesheet',type='text/css',href='css/weinre.css')

block append content
  div.fallback-message
  div#impress.weinre
    .step.slide(data-x='0',data-y='-2250')
      .center
        h1(style='text-align:center;')
          | Inspect <strong>THIS!</strong>
          .sub Web Inspecting on Mobile Devices
    .step.slide(data-x='0',data-y='-1500')
      #hey Hey!
    .step.slide(data-x='1050',data-y='-1500')
      .center
        .big Inspecting webpages is 
        .bigger(style="font-size:200px") <strong>RAD</strong> 
        .big &hellip;right?
    .step.slide(data-x='1800',data-y='-1500',data-z='-700',data-rotate-y='90')
      .center
        h2(style="font-size:2em;") HTML/CSS and DOM Manipulation
        img(src="../src/images/inspect_html.png",style="width:60%;position:relative;top:-40px;")
    .step.slide(data-x='1800',data-y='-1500',data-z='-1750',data-rotate-y='90')
      .center(style="position:relative;")
        h2 Javascript Debugging
        img(src="../src/images/inspect_js.png",style="position:relative;top:-40px;width:60%;")
    .step.slide(data-x='0',data-y='-750')
      .center
        p What about <strong>mobile</strong>?
        p That would be <strong>RAD</strong>, right?
    .step#despairphone(data-x='1050',data-y='-750')
      .center
        p.big Not built in! 
        p.bigger <strong>FAIL!</strong>
    .step.slide(data-x='2100',data-y='-750')
      .center
         p I wish I could <br />
           strong remote control
           | <br />a web page
    .step.slide(data-x='2100',data-y='0')
      .center
        p Guess what, someone did!
        p <strong><code>WEINRE</code></strong> &mdash; To The Rescue
        p.sub <strong>WE</strong>b <strong>IN</strong>spector <strong>RE</strong>mote &mdash; Currently written in NodeJS, subject to change&hellip; a lot
    .step.slide(data-x='2900',data-y='0',data-rotate-y='90',data-z='-700')
      .center
        p How does it work?
        p Add a system diagram picture here
    .step.slide#hookup(data-x='2100', data-y='0',data-rotate-y='180',data-z='-1400')
      .center
        h2(style="font-size:50px;") There are <strong>two</strong> ways to hook up a target
        h3 As a <code>&lt;script&gt;</code> tag
        p <code>&lt;script type="text/javascript" src="path_to_weinre_script#unique_id"/&gt;</code>
        h3 As a bookmarklet
        p A bookmark with javascript that <strong>adds</strong> </br>the javascript tag <br /><em>(this sounds a lot like the yo dawg-meme)</em>
    .step.slide#demos(data-x='1500',data-y='0',data-z='-700',data-rotate-y='270')
      .center
        h2 <strong>Demos</strong>
        p <strong>#1</strong> debug.phonegap.com, add javascript tag to a web page
        p <strong>#2</strong> Run weinre and run with bookmarklet
        p <strong>Step 1</strong> Show on browser
        p <strong>Step 2</strong> Show on iPad <br/><span style="font-size:0.75em">(with Facetime/Photobooth so everyone can see what is happening)</span>
    .step.slide#links(data-x='0',data-y='0')
      .center
        h2 <strong>Links</strong>
        p 
          a(href="http://debug.phonegap.com") debug.phonegap.com
        p 
          a(href="http://people.apache.org/~pmuellr/weinre/") Web Inspector Remote &mdash; <code>weinre</code>
        p.sub weinre is part of the 
          a(href="http://incubator.apache.org/cordova/") Apache Cordova 
          | project
