extends layouts/impress

block append head
  link(rel='stylesheet',type='text/css',href='css/weinre.css')

block append content
  div.fallback-message
  div#impress.weinre
    .step.slide(data-x='0',data-y='-2250')
      .center
        h1(style='text-align:center;')
          | Inspect THIS
          .sub Web Inspecting on Mobile Devices
    .step.slide(data-x='0',data-y='-1500')
      p.center Hey
    .step.slide(data-x='1050',data-y='-1500')
      .center
        p Inspecting webpages is RAD right?
        p lolwhut?
    .step.slide(data-x='1800',data-y='-1500',data-z='-700',data-rotate-y='90')
      .center
        p Screenshot of Chrome Dev Tools
        p HTML/CSS and DOM Manipulation
    .step.slide(data-x='1800',data-y='-1500',data-z='-1750',data-rotate-y='90')
      .center
        p Screenshot of Chrome Dev Tools
        p Javascript Debugging
    .step.slide(data-x='0',data-y='-750')
      .center
        p What about mobile, that would be RAD right?
    .step.slide(data-x='1050',data-y='-750')
      .center
        p Not built in! FAIL!
        p Picture of something cute Despairing
    .step.slide(data-x='2100',data-y='-750')
      .center
        p I wish I could remote control a web page
    .step.slide(data-x='2100',data-y='0')
      .center
        p Guess what, somebody did!
        p WEINRE &mdash; To The Rescue
        p (Currently written in NodeJS, subject to change&hellip; a lot)
    .step.slide(data-x='2900',data-y='0',data-rotate-y='90',data-z='-700')
      .center
        p How does it work?
        p Add a system diagram picture here
    .step.slide(data-x='2100', data-y='0',data-rotate-y='180',data-z='-1400')
      .center
        p There are two ways to hook up a target
        p Javascript tag
        p example of javascript tag
        p Bookmarklet
        p A bookmark with javascript that adds the javascript tag (yo dawg)
    .step.slide(data-x='1500',data-y='0',data-z='-700',data-rotate-y='270')
      .center
        p DEMOS
        p #1 debug.phonegap.com, add javascript tag to spoike.se
        p #2 Run weinre (nodejs, easiest to install with npm)
        p Step 1 Show on browser
        p Step 2 Show on iPad with Facetime/Photobooth so everyone can see what is happening
    .step.slide(data-x='0',data-y='0')
      .center
        p EXTRAS
        p debug.phonegap.com (sometimes down)
        p weinre link