extends layout

block append head
  script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
  link(rel='stylesheet',type='text/css',href='css/impress.css')

block append footer
  script(type='text/javascript',src='js/jmpress.min.js')
  script(type='text/javascript') $('#impress').jmpress();